@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #04070b; 
    position: relative;
    z-index: 0;
    
}
body.bg-home{
    --bg-image: url("../src/img/bgHome.jpg");
}
body.bg-projetos{
    --bg-image: url("../src/img/backProjetos.jpg");
}
body.bg-skills{
    --bg-image: url("../src/img/bgSkills.jpg");
}
body.bg-sobre{
    --bg-image: url("../src/img/bgSobre.jpg");
}
body.bg-contato{
    --bg-image: url("../src/img/plnodf.jpg");
}



    body::before {
    content: "";
    position: fixed;
    inset: 0;
    filter: blur(0.1rem);
    opacity: 0.3;
    z-index: -1;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in-out;
}

    .float-particles{
        position: absolute;
        width: 0.25rem;      
        height: 0.25rem;     
        background-color: #ffffff; 
        border-radius: 9999px;     
        opacity: 0.6;      
        animation: float-slow 6s ease-in-out infinite;
    }
    
    .particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    opacity: 0.6;
    animation: float var(--duration) ease-in-out infinite;
    animation-delay: var(--delay);
    left: var(--left);
    top: var(--top);
}
@keyframes float {
    0%, 100% { transform: translateY(0px); opacity: 0.6; }
    50% { transform: translateY(-30px); opacity: 1; }
}
.particle:nth-child(1) { --duration: 8s; --delay: 0s; --left: 5%; --top: 20%; }
.particle:nth-child(2) { --duration: 12s; --delay: 2s; --left: 15%; --top: 60%; }

@keyframes float-slow {
    0%,
    100% {
        transform: translateY(0) translateX(0);
        opacity: 0.6;
    }
    50% {
        transform: translateY(-30px) translateX(10px);
        opacity: 0.3;
    }
}

h1,h2{
    font-family: "Cinzel Decorative", serif;
}
.topText{
    margin-top: 4rem;
    color: #ffffff;
}
p{
    font-family: "Cinzel", serif;

}


.loading {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-content {
    position: relative;
}


.loading-content img {
    width: 150px;
}


.loading-text {
    position: absolute;
    bottom: -6px;          
    left: 50%;
    transform: translateX(-50%);

    font-family: "Cinzel Decorative", serif;
    font-size: 1.25rem;
    color: white;

    text-shadow:
    0 0 6px rgba(255,255,255,0.8),
    0 0 12px rgba(180,200,255,0.6);
}


.dots::after {
    content: "";
    animation: dots 1.4s infinite steps(3);
}

@keyframes dots {
    0%   { content: ""; }
    33%  { content: "."; }
    66%  { content: ".."; }
    100% { content: "..."; }
}

.imgAnimation {
    position: relative;
    width: 100%;
    pointer-events: none;
}

.imgAnimation img {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 120px;
    z-index: 9999;
    transition: left 0.012s linear; 
}

.dpad {
    position: fixed;
    bottom: 10%;   
    left: 6%;   
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    gap: 6px;
    z-index: 999; 
}


.dpad button {
    background: #2121211a;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
}

.dpad button.active {
    transform: scale(0.95);
    background: linear-gradient(90deg, #E6E6E6, #e6e6e6b4, #e6e6e688);
}

.up {
    grid-column: 2;
}

.left {
    grid-row: 2;
    grid-column: 1;
}

.right {
    grid-row: 2;
    grid-column: 3;
}

.down {
    grid-column: 2;
    grid-row: 3;
}




@media (max-width: 768px) {
    .dpad {
        transform: scale(0.8);
        bottom: 15px;
        right: 15px;
    }
}

